<h5 class="mg-10 tit">Productos Descatados</h5>
<!-- Conteiner de todos los productos -->
<div class="container-card">
    <div class="row">
        <!-- card1 -->
        <% products.forEach(product=> { %>
            <a href="/products/detail/<%- product.id%>">
                <div class="col-md-4">
                    <div class="card">
                        <div class="product">
                            <img src="/images/<%- product.productImages[0].image %> " alt="" class="rounded"
                                width="160">
                            <h5><%- product.name %></h5>
                            <!-- card info -->
                            <div class="info">
                                <span class="text1"><%- product.description %></span>
                            </div>
                            <div class="cost">
                                <span>$<%- product.price %></span>
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
            </a>
            <!-- card info end -->
    </div>
    <!-- button for cards -->
    <div class="button-card cursor shoe">
        <span class="text-uppercase">Agregar al carrito</span>
    </div>
</div>
</div>

<% }); %>

    <!-- Termina card1 -->
    </div>
    </div>
    <h5 class="mg-10 tit">Ofertas del Mes</h5>
    <!-- Conteiner de todos los productos -->
    <div class="container-card">
        <div class="row">
            <!-- card1 -->
            <% products.forEach(product=> { %>
                <% if (product.discount>= 15) { %>
                    <a href="/products/detail/<%- product.id %>">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="product">
                                    <img src="/images/<%- product.productImages[0].image %> " alt="" class="rounded"
                                        width="160">
                                    <h5><%- product.name %></h5>
                                    <!-- card info -->
                                    <div class="info">
                                        <span class="text1"><%- product.description %></span>
                                    </div>
                                    <div class="cost">
                                        <del>$<%- product.price %></del>
                                        <span>$<%- product.price - product.discount %></span>
                                        <div class="star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                    </a>
                    <!-- card info end -->
        </div>
        <!-- button for cards -->
        <div class="button-card cursor shoe">
            <span class="text-uppercase">Agregar al carrito</span>
        </div>
    </div>
    </div>

    <% } %>
        <% }); %>

<!-- Termina card1 -->
</div>
</div>
<!-- container cards -->