<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<%- include('../partials/bootstrap') %>
<script src="/Js/validatorProducts.js" defer></script>
    <body>
    <%- include('../partials/header.ejs') %>
        <main class="container">
            <h3 class="text-center">Agregar nuevo producto</h3>
            <div class="container col-md-4">
                <form class="row g-3" action="/admin/agregarProducto/"   method="POST" enctype="multipart/form-data" id="form">
                    <div class="col-12">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="name" name="nameProduct" value="<%= locals.old && old.nameProduct %>">
                        <% if(locals.errors && errors.nameProduct) { %>
                            <small class="text-danger"><%= errors.nameProduct.msg %>  </small> 
                        <% } %>
                        <span class="error-msg" id="nameProductErrors"></span>
                    </div>
                    <div class="col-12">
                        <label for="price" class="form-label">Precio</label>
                        <input type="number" class="form-control" id="price" name="price" value="<%= locals.old && old.price%>">
                    </div>
                    <% if(locals.errors && errors.price) { %>
                        <small class="text-danger"><%= errors.price.msg %>  </small> 
                    <% } %>
                        <span class="error-msg" id="priceErrors"></span>
                    <div class="col-12">
                        <label for="discount" class="form-label">Descuento</label>
                        <input type="number" class="form-control" id="discount" name="discount" value="<%= locals.old && old.discount%>">
                    </div>
                    <div class="col-12">
                        <label for="description" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="description" name="description" value="<%= locals.old && old.description%>">
                    </div>
                    <% if(locals.errors && errors.description) { %>
                        <small class="text-danger"><%= errors.description.msg %>  </small> 
                    <% } %>
                        <span class="error-msg" id="descriptionErrors"></span>
                    <div class="col-12">
                        <select class="form-select" id="specificSizeSelect" name="category">
                          <option selected hidden value="">Categorias</option>
                         <% categories.forEach(category => { %>
                            <option value="<- category.id %>" <%= locals.old && old.category == category.id ? "selected" : "" %> ><%- category.nameCategory %></option>
                         <% }) %>
                        </select>
                        <% if(locals.errors && errors.category) { %>
                            <small class="text-danger"><%= errors.category.msg %>  </small> 
                        <% } %>
                            <span class="error-msg" id="categoryErrors"></span>
                    </div>
                    <div class="col-12">
                        <select class="form-select" id="specificSizeSelect" name="subcategoryId">
                          <option selected hidden value="">Subcategorias</option>
                         <% subcategories.forEach(subcategory => { %>
                            <option value="<%- subcategory.id %>" <%= locals.old && old.subcategory == subcategory.nameSubcategory ? "selected" : "" %>><%- subcategory.nameSubcategory %></option>
                         <% }) %>
                        </select>
                        <% if(locals.errors && errors.subcategoryId) { %>
                            <small class="text-danger"><%= errors.subcategoryId.msg %>  </small> 
                        <% } %>
                            <span class="error-msg" id="subcategoryErrors"></span>
                    </div>
                    <div class="col-12">
                        <label for="inputImage" class="form-label">Imagen</label>
                        <input type="file" name="image" class="form-control" aria-label="file example" id="inputImage" multiple>
                        <% if (locals.errors && errors.image) { %>
                            <small class="text-danger"><%= errors.image.msg %> </small>
                        <% } %>
                    </div>
                    <div class="col-12">
                        <small class="text-danger" id="submitErrors"></small>
                        <button type="submit" class="btn btn-info">AGREGAR</button>
                    </div>
                </form>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>